<h2>タイトル</h2>
<p><%= @list.title%></p>
<h2>本文</h2>
<p><%= @list.body %></p>
<p>画像</p>
<!--attachment_image_tag モデル名, :カラム名, :fill(またはsize), 横幅, 高さ, format: '拡張子' -->
<!--attachment_image_tag list, :image, format: 'jpeg', size: "100x100"-->
<%= attachment_image_tag @list, :image, :fill, 300, 300, format: 'jpeg' %>
<%= link_to "編集", edit_todolist_path(@list.id) %>
<%= link_to "削除", destroy_todolist_path(@list.id), method: :delete, "data-confirm" => "本当に削除しますか?" %>